#login-card {
  margin: 62.5px;
  margin-left: 80px;
  width: 400px;
  padding: 16px;
}

#signup-card {
  margin: 40px;
  margin-left: 60px;
  width: 600px;
  padding: 20px;
}

#heading {
  font-weight: bold;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#signUpHeading {
  font-weight: bold;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: red;
}

#img {
  margin-left: 80px;
  height: 400px;
  width: 450px;
}

#backColor {
  background-color: tomato;
}

.containerbg {
  background-color: #FFD700;
}

.imgPlate {
  float: center;
  margin-top: 10px;
  width: 70px;
  height: 70px;
}

.lnkcolor {
  color: white;

}

.yello {
  background-color: rgb(255, 200, 0);
  width: 300px;
  height: 250px;
  position: absolute;
  margin-top: 53px;
}

#parent {
  position: relative;
  width: 300px;
  height: 250px;
}

#parent img {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 103px;
  left: 30px;
}

.alignBtnGroup {
  float: right;
  padding-right: 10px;
}

#burgerimg {

  height: 400px;
  width: 550px;
  margin-left: 120px;
}

.cardimg {
  width: 200px;
  height: 250px;

}

.card {
  margin-left: 40px;
}

.rowpadding {
  padding-left: 2cm;
  padding-right: 2cm;
}

.backImg{
  background-image: url("./Images/profileBack.png");
  height: 483px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}