.App {
  text-align: justify;
}

.login-card{
  margin: 80px;
  width: 420px;
  padding: 40px;
}

.signup-card{
  margin: 40px;
  width: 600px;
  padding: 20px;
}

#heading{
  font-weight: bold;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
  color: red;
}