.App {
  text-align: justify;
  background-color: tomato;
}

.login-card{
  margin: 80px;
  margin-left: 100px;
  width: 420px;
  padding: 40px;
}

.signup-card{
  margin: 40px;
  margin-left: 60px;
  width: 600px;
  padding: 20px;
}

#heading{
  font-weight: bold;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#signUpHeading{
  font-weight: bold;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  color: red;
}

#myBlueDiv {
  align-self: center;
}

#img {

  position: absolute;
  top: 50%;
  left: 60%;
  margin-top: -96px;
  height: 400px;
  width: 450px;
 }

#backColor{
  background-color: tomato;
}